/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #8f8f91;
    background-color: #121212;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px; /* Space for the footer */
}

/* Header styles */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #12121295;
    padding: 1rem 2rem;
    width: 100vw;
}

header .logo a img {
    height:40px;
    width: auto;
    
}

nav .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

nav .menu-icon:hover {
    color:#787777;
}

nav .nav-links {
    list-style: none;
    display: flex;
}

nav .nav-links li {
    margin-left: 2rem;
}

nav .nav-links li a {
    color: #8f8f91;
    text-decoration: none;
    font-size: .75rem;
    font-weight: 100;
    vertical-align: text-top;

}

nav .nav-links li a:hover {
    color:#787777;
}

nav .nav-links li a.active {
    font-weight: 400;
    color:rgb(255, 255, 255);
}

/* Responsive styles */
@media (max-width: 768px) {
    nav .menu-icon {
        display: block;
    }
    nav .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #121212;
        width: 100%;
        padding: 0rem;
    }
    nav .nav-links.active {
        display: flex;
    }
    nav .nav-links li {
        margin: 2.25rem;
        text-align: right;

    }
}

/* Main content styles */
main {
    padding-top: 3.5rem;
    padding-left: 1.5rem;
}

h2 {
    padding: 1rem;
    font-size: 1.5rem;
    color: #f9f9f9;
    font-weight: 600;
}

p {
    padding: 1rem;

}

/* Carousel styles */
.carousel {
    width:auto;
    height: auto;
    position:static;
    overflow: hidden;
    vertical-align: middle;


}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel img {
    width: 100vw; /* Full width of the viewport */
    height:auto;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #020202;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.carousel-control-prev,
.carousel-control-next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.005);
    color: #080808;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Portfolio items styles */
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-item {
    flex: 1 1 calc(33.333% - 2rem);
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.portfolio-item h3 {
    color: #f9f9f9;
}

.portfolio-item p {
    color: #b0b0b0;
}

/* Contact form styles */
form {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #f9f9f9;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #f9f9f9;
}

form button {
    display: inline-block;
    background-color: #444;
    color: #f9f9f9;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #333;
}

/* Footer styles */
footer {
    position:fixed;
    right: 2rem;
    bottom: 0.5rem;
    background-color: #12121200;
    color: #787777;
    text-align: right;
    padding: 0rem;
    letter-spacing: 0.05rem;
    font-size: .75rem;
    transform: translateY(0%);
}

footer .social-icons {
    display: flex;    
    justify-content: flex-end;
    margin: 0 0 .1rem 0;

}

footer .social-icons a {
    color: #636262;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #f9f9f9;
}

footer p {
    padding: .5rem 0rem;
}
::-webkit-scrollbar {
    width: 5px; /* Width of the vertical scrollbar */
    height: 5px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #12121260; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #636262; /* Color of the scroll thumb */
    border-radius: 10px; /* Rounded corners of the scroll thumb */
    border: 1px solid #12121260; /* Padding around the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #f9f9f9; /* Color of the scroll thumb on hover */
}